.cardGridContents{
    margin-top: 2.5rem;
    margin-bottom: 5rem;

        .gridOne {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;

            .gridAreaOne {
                
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                span {
                    position: relative;
                    background-color: white;
                    width: 350px;
                    z-index: 2;
                    top: -50px;
                    padding: 2rem;
                }
            }
            .gridAreaTwo {
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                span {
                    position: relative;
                    background-color: white;
                    width: 350px;
                    z-index: 2;
                    top: -50px;
                    padding: 2rem;
                }
            }
        }

        .gridTwo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem;
        }

        img {
            width: 100%;
            max-height: 520px;
        }
    }

@media screen and (max-width: 480px) {
    .cardGridContents {
        .gridOne {
        flex-direction: column;
        }
    }
}  
