.cardGridContainer{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;

        .grid {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;

            .gridAreaOne {
                
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                span {
                    position: relative;
                    background-color: white;
                    width: 350px;
                    z-index: 2;
                    top: -50px;
                    padding: 2rem;
                }
            }
            .gridAreaTwo {
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                span {
                    position: relative;
                    background-color: white;
                    width: 350px;
                    z-index: 2;
                    top: -50px;
                    padding: 2rem;
                }
            }
        }
    }

@media screen and (max-width: 940px) {
    .cardGridContainer {
        padding: 0;
        margin: 0;

        .grid {
            flex-direction: column;

            .gridAreaOne, .gridAreaTwo {
                span {
                    width: 90%;
                }
            }
        }
    }
}  
