.cardGridContainer{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;

        .grid {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;

            .gridAreaOne {
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                img {
                    height: auto;
                    max-width: 100%;
                }

                div {
                    position: relative;
                    background-color: white;
                    max-width: 350px;
                    width: auto;
                    top: -50px;
                    padding: 2rem;

                    span {
                        display: flex;
                        flex-direction: row;
                        width: 50%;
                        justify-content: space-between;

                        img {
                           height: 12px;
                           width: 14px;
                        }
                    }
                }
            }
            .gridAreaTwo {
                height: auto;
                max-height: 520px;
                display: flex;
                flex-direction: column;

                img {
                    height: auto;
                    max-width: 100%;
                }

                span {
                    position: relative;
                    background-color: white;
                    max-width: 350px;
                    width: auto;
                    top: -50px;
                    padding: 2rem;
                }
            }
        }
    }

@media screen and (max-width: 768px) and (orientaion: portrait) {
    .cardGridContainer {

        .grid {
            flex-direction: column;

            .gridAreaOne, .gridAreaTwo {
                span {
                    width: 90%;
                }
            }
        }
    }
}  
@media screen and (max-width: 768px) and (orientaion: landscape) {
    .cardGridContainer {

        .grid {
            flex-direction: column;

            .gridAreaOne, .gridAreaTwo {
                span {
                    width: auto;
                }
            }
        }
    }
}  
@media screen and (max-width: 768px){
    .cardGridContainer {
        flex-direction: column;
        padding: 0;

        .grid {
            flex-direction: column;

            .gridAreaOne, .gridAreaTwo {
                span {
                    width: auto;
                }
            }
        }
    }
}  
@media screen and (max-width: 480px){
    .cardGridContainer {
        flex-direction: column;
        padding: 0;
        margin: 0;

        .grid {
            flex-direction: column;
            gap: 0;

            .gridAreaOne, .gridAreaTwo {
                span {
                    width: auto;
                }
            }
        }
    }
}  
