.upcomingEventsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

    .titleContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    
        button {
            display: flex;
            width: 100%;
            max-width: 260px;
            height: 64px;
            background-color: transparent;
            opacity: 0.8;
            backdrop-filter: blur(4px);
            align-items: center;
            justify-content: center;
            border-image: linear-gradient(to right, #00C2FF, #FF27C3) 1;

            h5 {
              color: var(--font-color-primary) !important;
            }
            
        }
    }
    
    .eventsCardsGrid {
        margin-top: 2.5rem;
        display: flex;
        gap: 2.5rem;
        width: 100%;
        height: 624px;
    }

}

@media screen and (max-width: 768px) and (orientaion: portrait) {
    .upcomingEventsContainer {
      padding: 0;

      .eventsCardsGrid {
        width: 100%;
        // max-height: 400px;
        flex-direction: column;
      }
      .titleContainer {
        width: 90%;
        button {
          width: 50%;
        }
      }
    }
  } 
@media screen and (max-width: 768px) {
    .upcomingEventsContainer {
      padding: 0;

      .eventsCardsGrid {
        width: 100%;
        flex-direction: column;
      }
      .titleContainer {
        width: 90%;
        button {
          width: 50%;
        }
      }
    }
  } 
