.cardGridTwoContainer {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
   
    .cardGrid {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;

        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-repeat: no-repeat;

            img {
                height: auto;
                max-width: 100%;
            }

            span {
                position: relative;
                background-color: white;
                width: auto;
                z-index: 2;
                padding: 2rem;
            }
        }
    }     
}

@media screen and (max-width: 480px) {
    .cardGridTwoContainer {
        flex-direction: column;
        padding: 0;
        
        .cardGrid {
            flex-direction: column;
            margin-top: 2.5rem;
        }

    }
}  