.headerWrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100vw;
    position: sticky;
    margin-bottom: 2rem;

    .headerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        max-width: 1280px;
        margin: 0 auto;
        height: 88px;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(6px);
        
    }
}

@media screen and (max-width: 768px) {
    .headerWrapper {
        margin-bottom: 1rem;
        
        .headerContainer {
            
        }
    }
  } 
