.eventCard {
    height: 624px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

    .eventcardContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .eventDate {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10rem;
            width: 10rem;
            background-color: white;
            z-index: 2;
            padding: 1rem;
            top: -1%;
            position: relative;

            div {

                h1 {
                color: #FF227F;
                font-weight: 300 !important;
            }
    
            h3 {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 300 !important;
                font-size: 40px;
                line-height: 48px;
            }
            }

            
        }
    
        .eventTitle {
            h3 {
                color: white;
                padding: 2rem;
            }
        }
    }

    
}

 
@media screen and (max-width: 940px) {
    .eventCard {

        .eventcardContent {

            .eventTitle {
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
        }
        
    }
       
}
  